.pageWrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* ------------------------- main-header ------------------------ */
#logo {
    margin-bottom: 0;
    text-align: center;
    color: white;
}
.wrap {
    max-width: 980px;
    margin: 0 auto;
}
.wrap .headerDivider {
    float: left;
    margin: 10px 0;
    height: 44px;
}
.wrap .xsNav {
    position: absolute;
    right: 50px;
    top: 0;
    width: auto;
}
#nav {
    float: left;
    margin-left: 30px;
    background: none;
    border-bottom: none;
    line-height: 62px;
}
#nav a {
    color: white;
}
#nav .ant-menu-item-selected a{
    color: #1890ff;
}

/* ------------------------- main ------------------------ */
#main {
    flex: 1;
}
#main .wrap {
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}
#indexMenu {
    border-right: none;
}
.indexSider {
    border-right: 1px solid #ccc;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}
#indexMenu li {
    margin-right: -1px;
    text-align: center;
    transition: none;
    border-right: 3px solid rgba(0, 0, 0, 0);
}
#indexMenu li:hover,
#indexMenu .ant-menu-item-selected {
    background-color: #e6f7ff;
    border-right-color: #1890ff;
}
.indexList {
    border-left: 1px solid #ccc;
}
#indexXsMenu {
    display: flex;
}
#indexXsMenu li {
    text-align: center;
    flex: 1;
    float: none;
}

/* @media all and (max-width: 767px) {
    #indexMenu {
        display: flex;
        border-bottom: 1px solid #ccc;
    }
    #indexMenu li {
        flex: 1;
        margin: 0 0 -1px 0;
        border: none;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }
    #indexMenu li:hover,
    #indexMenu .ant-menu-item-selected {
        background-color: none;
        border-bottom-color: #1890ff;
    }
    .indexList {
        border-left: none;
    }
} */

/* ------------------------- main-footer ------------------------ */
#footer {
    text-align: center;
}